/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1152px) {
    .section-assort__title {
        min-height: 50px;
    }
    .advantage__header {
        min-height: 50px;
    }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .header__conteiner-link {
        padding: 0 20px;
    }
    .section-assort__title {
        min-height: auto;
    }
    .advantage__header {
        min-height: auto;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .header__nav {
        position: fixed;
        background-color: black;
        border-bottom: 1px solid white;
    }
    .header__menu {
        background-color: #51514f;
        padding: 20px 0;
    }
    .header__separate {
        display: none;
    }
    .header__button {
        height: 33px;
        width: 33px;
        background-color: #d9534f;
        color: #fff;
    }
    .header__conteiner-link {
        display: block;
        text-align: center;
    }
    .header__link:hover {
        display: block;
        background: #d9534f;
        color: white;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {

    .section-assort__text {
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
        font-size: 25px;
    }

    .header__logo-text {
        font-size: 25px;
        margin-top: 15px;
        font-style: italic;
        font-weight: 900;
    }

    .header__nav {
        position: fixed;
        background-color: black;
        border-bottom: 1px solid white;
    }
    .header__menu-container {
        border-top: 1px solid white;
    }
    .header__menu {
        background-color: #51514f;
        padding: 20px 0;
    }
    .header__separate {
        display: none;
    }
    .header__button {
        height: 33px;
        width: 33px;
        background-color: #d9534f;
        color: #fff;
    }
    .header__conteiner-link {
        display: block;
        text-align: center;
    }
    .header__link:hover {
        display: block;
        background: #d9534f;
        color: white;
    }

    .advantage__header-icon{
        font-size: 30px;
    }

    .header__title {
        font-size: 30px;
    }
    .section-advantage__text {
        font-size: 30px;
    }
    .section-projects__text {
        font-size: 30px;
    }
    .header__title-text {
        font-size: 16px;
    }
    .section-employeers__text {
        font-size: 30px;
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
    .header__nav {
        position: fixed;
        background-color: black;
        border-bottom: 1px solid white;
    }
    .header__menu {
        background-color: #51514f;
        padding: 20px 0;
    }
    .header__separate {
        display: none;
    }
    .header__button {
        height: 33px;
        width: 33px;
        background-color: #d9534f;
        color: #fff;
    }
    .header__conteiner-link {
        display: block;
        text-align: center;
    }
    .header__link:hover {
        display: block;
        background: #d9534f;
        color: white;
    }
    .header__title {
        font-size: 42px;
    }
    .header__title-text {
        font-size: 16px;
    }
    .section-advantage__text {
        font-size: 42px;
    }
    .section-projects__text {
        font-size: 42px;
    }
    .section-employeers__text {
        font-size: 42px;
    }
    .advantage__header-icon{
        font-size: 30px;
    }
}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}